@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
}

.wn-block {
    background-color: rgb(30, 43, 118);
}

.wn-block img {
    width: 260px;
    height: 323px;
    object-fit: cover;
}

.wn-block-pos {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 25px;
}

.wn-para {
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 58px;
    line-height: 1.18;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: -0.021em;
}

.yellow-stripe {
    background-color: rgb(253, 172, 8);
    width: 58.5px;
    height: 3px;
    margin: auto;
    margin-bottom: 10px;
}

.wn-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 19px;
    font-family: 'Exo', sans-serif;
}

.block-title {
    color: #fdac08;
    font-weight: bold;
    font-size: 13px;
    font-family: "Exo", sans-serif;
}

.wn-block-text {
    font-family: "Rajdhani", sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.31;
    color: white;
}

.wn-block-date {
    font-family: Exo;
    color: rgba(255, 255, 255, 0.7);
}

.button a {
    font-family: "Exo", sans-serif;
    color: #fdac08;
    font-weight: 700;
    text-decoration: none;
}

.button a:hover {
    color: #fff;
    transition: 0.7s;
    text-decoration: underline;
}

.wn-channels,
.wn-sports,
.wn-coming-soon,
.wn-tv-series {
    width: 570px;
    height: 615px;
    background-color: #7237df;
    margin: auto;
}

@media screen and (max-width: 750px) {

    .wn-channels,
    .wn-sports,
    .wn-coming-soon,
    .wn-tv-series {
        width: 100%;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    .wn-channels,
    .wn-sports,
    .wn-coming-soon,
    .wn-tv-series {
        margin-bottom: 25px;
    }

    .wn-block {
        width: 100%;
    }

    .wn-block img {
        width: 90%;
        height: auto;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
    }

    .wn-text-pos {
        margin-top: 20px;
        margin-left: 20px;
        padding: 25px
    }

    .wn-block-date {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .wn-block-text {
        margin-top: 35px;
    }
}